* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    width:45%;
}
body {
  /*background: #59B889;*/
  background-image: url('background.jpg');
  background-attachment: fixed;
  background-position: center;
}

h1 {
color: white;
}

.btn.btn-white {
    background-color: white;
    font-weight: bold;
    color: #197EC1
}

.mainPart {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#what {
  color: #FFFFFF;
  font-weight: bold;
  padding: 5px;
  cursor: pointer;
}
#results{
  display: none;
  color: white;
}
#close-about {
  float: right;
  padding: 5px;
  cursor: pointer;
  width: 25px;
  margin-left: auto;
  margin-right: auto;
  background-color: #322F30;
  color: #DAE4DF;
  border-radius: 1px;
  display:inline-block;
}

#title {
  margin-top: 5%;
  margin-bottom: 2%;
  font-size: 30px;
}
#about {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
}

#instructions {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  margin-top: 10px;
  padding: 10px;
  background-color: rgba(137, 41, 118, 0.32);
  color: #DAE4DF;
  display: none;
  font-family: 'Roboto', serif;
  font-weight: medium;
  border-radius: 1px;
}

#buttonDiv {
  z-index: 20 !important;
}

#tryAgain{
  display:none;
  z-index: 10;

}

svg {
  margin-top: -275px;
  z-index: -1;
}
.panic {
  display: none;
}
a{
  color:#59B889;
}
a:hover {
  color:#b86559;
}
#tomatoesAnalysis{
  display: none;
}
#movieTitle{
  margin: 20px;
}
