* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    width:45%;
}
body {
  background: #197EC1;
}

h1 {
color: white;
}

.btn.btn-white {
    background-color: white;
    font-weight: bold;
    color: #197EC1
}

.mainPart {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#what {
  color: #FFFFFF;
  font-weight: bold;
  padding: 5px;
  cursor: pointer;
}
#results{
  display: none;
}
#close-about {
  float: right;
  border: 1px solid black;
  padding: 2px;
  margin: 5px;
  cursor: pointer;
}

#title {
  margin-top: 5%;
  margin-bottom: 2%;
  font-size: 30px;
}
#about {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
}

#instructions {
  position: absolute;
  top:0;
  left:0;
  margin: 2%;
  min-height: 86%;
  min-width: 96%;
  background-color: #FF9677;
  color: #291813;
  display: none;
  font-family: 'Roboto', serif;
  font-weight: medium;
}

#buttonDiv {
  z-index: 20 !important;
}

#tryAgain{
  display:none;
  float:right;
  z-index: 10;
  
}

svg {
  margin-top: -275px;
  z-index: -1;
}
.panic {
  display: none;
}