<div class="container">
	<h3 ng-show="randomPerson">Who is {{randomPerson.user.profile.real_name}}?</h3>
	<h1 class="container text-center" ng-show="name">{{message}}</h1>
	<button ng-show="members" ng-click="pickPerson(members)">Test me!</button>
	
	<!-- <h3 ng-show="message">{{message}}</h3> -->
	<img 
	height="100" width="100"
	ng-repeat="member in members"
	ng-class = "{'clicked-photo' : $index == selectedIndex }"
	ng-src="{{ member.user.profile.image_192 }}"
	ng-click = "photoClicked(member.user.profile,$index)"
	/> <!-- NO FILTER FOR NOW -->
</div>